#menu-button-container {
  width: 30px;
  position: fixed;
  top: 10px;
  left: 20px;
  z-index: 100;
  transition: 0.5s;
}

#menu-button {
  font-size: 2rem;
  cursor: pointer;
}

#menu-button-container:hover {
  color: #fff;
}
