#menu-button-container {
  width: 30px;
  position: fixed;
  top: 10px;
  left: 20px;
  z-index: 100;
  transition: 0.5s;
}

#menu-button {
  font-size: 2rem;
  cursor: pointer;
  color: cyan;
  /* color: var(--dark-theme-base-color); */
  /* background-color: var(--dark-theme-secondary-color); */
  /* color: #f00; */
  /* color: var(--dark-theme-call-to-action-color); */
}
