.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111; /* TODO change it */
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav nav {
  text-align: end;
  margin-right: 15px;
}
.sidenav nav i {
  width: 25px;
  margin-left: 25px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181; /* TODO change it */
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1; /* TODO change it */
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav h1 {
  color: #818181; /* TODO change it */
  margin-bottom: 0;
}

.sidenav p {
  color: #818181; /* TODO change it */
  margin-top: 0;
}

#sideBarContainer {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

#avatar {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
